body {
    font-family: 'dosis';
    margin: 0;
    padding: 0;
    color: #b7b7b7;
    background-color: #161515;
    opacity: 0.9;
  }
  
  .header {
    font-family: 'Dosis', sans-serif;
    background-color: #ec9572;
    color: black;
    padding: 10px;
    display: flex;
    
  
  }
  
  .header img {
    margin-left: 5%;
    width: 50px; 
    height: 50px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 40px;
  }
  

.welcome-message {
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 1, 107);
    text-align: right;
    margin: 0%;
    padding-left: 50%;
}

  #title {
    margin-left: 1%;
  }
  
  #hook {
    font-size: 30px;
    margin-bottom: 0%;
  }
  
  .center-text {
    text-align: center;
    margin: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .product {
    position: relative;
    text-align: center;
    margin: 20px;
    flex: 0 0 auto;
    transition: transform 0.4s ease;
    margin-top: 0%;
    overflow: hidden; /* Añade un overflow para ocultar el botón al inicio */
  }
  
  .product p {
    font-size: 25px;
  }
  
  .product:hover {
    transform: scale(1.3);
    background: transparent;
  }
  
  .details {
    font-family: 'dosis', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    opacity: 0; /* Inicialmente oculta el botón */
    transition: opacity 0.4s ease; /* Añade transición para suavizar la aparición del botón */
    background: transparent;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .details::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ec9572;
    transition: 0.5s ease;
  }
  
  .details:hover {
    color: #161515;
    transition-delay: 0.5s;
  }
  
  .details button:hover::before {
    width: 100%;
  }
  
  .details::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ec9572;
    transition: 0.3s ease;
    z-index: -1;
  }
  
  .details:hover::after {
    height: 100%;
    transition-delay: 0.3s;
    color: aliceblue;
  }
  .product:hover button {
    opacity: 1; /* Muestra el botón al pasar el ratón por encima */
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .product:hover img{
    opacity: 0.2;
  }
  
  .add-to-cart{
    margin-top: 4%;
    font-family: 'dosis', sans-serif;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
    background-color: #ec9572;
    border: none;
    color: #161515;
    transform: scale(1); /* Añadimos esta regla para mantener el tamaño constante */
    transition: none; /* Eliminamos la transición para evitar el cambio de tamaño */
}


  
  