body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: #b7b7b7;
    border-image: fill 0 linear-gradient(#282828, #000);
}

.container {
    display: flex;
    min-height: 100vh; /* Ajuste: Usar min-height para ocupar al menos el alto de la ventana */
}

.header {
    font-family: 'Dosis', sans-serif;
    background-color: #ec9572;
    color: black;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header img {
    margin-left: 5%;
}

.header h1 {
    margin: 0;
    font-size: 40px;
}

#title {
    margin-left: 1%;
}

.description {
    flex: 1;
    background-image: url("imagenes/fondo_maschine.jpg");
    filter: brightness(0.4);
    max-width: 50%;
    height: 100vh; /* Ajuste: Ocupar todo el alto de la página */
}

.izquierda {
    display: flex;
    height: 100vh; /* Ajuste: Ocupar todo el alto de la página */
}

.image-container {
    position: relative;
    width: 100%; /* Ajuste: Ocupar todo el ancho de la columna */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Ajuste: Eliminar márgenes */
    padding: 0; /* Ajuste: Eliminar relleno */
}

.product-image {
    width: 100%; /* Ajuste: Ocupar todo el ancho de la columna */
    height: 100%; /* Ajuste: Ocupar todo el alto de la columna */
    object-fit: cover; /* Ajuste: Cubrir completamente el contenedor */
    margin: 0; /* Ajuste: Eliminar márgenes */
    padding: 0; /* Ajuste: Eliminar relleno */
}

.dot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(-10px, -50%);
    display: none;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container button {
    margin: 5px;
}

.button-container button.active {
    background-color: #007bff;
    color: #fff;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 8px 0;
    cursor: pointer;
}

.dot.active {
    background-color: #007bff;
}